# Виртуальное окружение Python
venv/
.venv/

# Файлы, генерируемые Python
__pycache__/
*.pyc

# Медиафайлы пользователей
/uploads/
/media/

# Временные файлы Django
*.log
db.sqlite3

# Временные файлы IDE
.idea/
*.swp
*~

# Файлы, сгенерированные ОС
Thumbs.db
