/* index.css - only for index.html */

.left-subsection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 60px;
    align-items: center;
}

.left-subsection img.img-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.top-right-subsection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-grow: 3;
}

<!-- HACK: выводить только две строчек текста вопроса а не полностью его-->
.bottom-right-subsection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}

.bottom-right-subsection a {
    color: #1A3E8C;
    text-decoration: none;
}

.bottom-right-subsection p {
    display: inline;
    margin: 0 5px 0 15px;
}

.right-subsection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    padding-left: 15px;
}

.top-right-subsection a {
    font-weight: bold;
    color: #0d2a4f;
    text-decoration: none;
}
