.user-form {
    align-items: center;
    margin-top: 20px;
    max-width: 420px;
    display: grid;
    grid-template-columns: 140px minmax(200px, 1fr);
    gap: 15px 40px;
    font-weight: 600;
    letter-spacing: .2px;
}

.user-form button {
    margin-left: 140px;
    margin-bottom: 15px;
    grid-column: 2;
    align-items: center;
}

.user-form input {
    width: 100%;
    min-height: 38px;
    box-sizing: border-box;
}
