/* question.css - only for question.html */


.new-answer-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(101, 182, 255, 0.6);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.new-answer-form textarea {
    width: 100%;
    box-sizing: border-box;
}

.new-answer-form h3 {
    margin-top: 0;
    color: #0d2a4f;
}

.answers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #65b6ff;
}

.answers-header h2 {
    color: #1A3E8C;
}

.post-item .post-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.post-item .post-text p {
    margin: 5px 0;
}

.post-item .bottom-right-subsection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}

.post-item .question-meta p {
    display: inline;
    margin: 0 5px 0 15px;
}

/* HACK: сделать размер контейнера ответа зависящим от размера текста в нем*/
.post-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    align-items: stretch;
}

.left-subsection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-subsection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.post-item .answer-meta-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.post-item .actions {
    display: flex;
    gap: 10px;
}

.post-item.correct-answer {
    border: 2px solid #008000;
    background: linear-gradient(180deg, rgba(162, 230, 162, 0.4) 3%, rgba(245, 255, 245, 0.7) 5%, rgba(162, 230, 162, 0.4) 100%);
}

.post-item .correct-button {
    --hue: 120;
}
