.form-grid-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px 20px;
    align-items: start;
    padding: 0, 20px;
    width: 100%;
    margin-bottom: 40px;
}

.form-grid-container label {
    text-align: left;
    padding-top: 10px;
}

.form-grid-container input {
    width: 100%;
    min-width: 0;
}

.form-grid-container textarea {
    width: 100%;
    min-width: 0;
    min-height: 300px;
}
