{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <title>Задать вопрос — AskAero</title>
<link rel="stylesheet" href="{% static 'css/ask.css' %}" />
{% endblock %}

{% block content %}
        <div class="head-of-section">
          <h1>New Question</h1>
        </div>

        <form class="new-question-form">
          <div class="form-grid-container">
            <label  for="title"> Title </label>
            <input
              type="text"
              id="title"
              value="Это слишком длинный заголовок для примера."
              class="input"
              maxlength="50"
            />
            <div class="error-message">
              Заголовок не может превышать 50 символов.
            </div>

            <label for="text"> Text </label>
            <textarea id="text"> Really, how? </textarea>

            <label for="tags"> Tags </label>
            <input
              type="text"
              id="tags"
              value="moon, park, puzzle"
              class="input"
              maxlength="50"
            />
          </div>
          <button class="button small" type="submit">Ask!</button>
        </form>
{% endblock %}
