{% extends "app/base.html" %} {% load static %} {% block extra_css %}
<title>Задать вопрос — AskAero</title>
<link rel="stylesheet" href="{% static 'css/ask.css' %}" />
{% endblock %} {% block content %}
<div class="head-of-section">
  <h1>New Question</h1>
</div>

<form method="POST" class="new-question-form">
  {% csrf_token %}

  <form class="new-question-form">
    <div class="form-grid-container">
      <label for="{{ form.title.id_for_label }}"> Title </label>
      {{ form.title }} {% if form.title.errors %}
      <div style="color: red; font-size: 0.875rem">
        {% for error in form.title.errors %} {{ error }} {% endfor %}
      </div>
      {% endif %}

      <label for="{{ form.text.id_for_label }}"> Text </label>
      {{ form.text }} {% if form.text.errors %}
      <div style="color: red; font-size: 0.875rem">
        {% for error in form.text.errors %} {{ error }} {% endfor %}
      </div>
      {% endif %}

      <!-- #TODO: добавить теги в создание вопроса-->
      <!--<label for="tags"> Tags </label>
            <input
              type="text"
              id="tags"
              value="moon, park, puzzle"
              class="input"
              maxlength="50"
            />-->
    </div>
    <button class="button small" type="submit">Ask!</button>
  </form>
  {% endblock %}
</form>
