<!DOCTYPE html>

<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %} {% endblock %}
</head>
<body class="bg">
    <header>
        <h2>
            <a href="{% url 'index' %}">AskAero</a>
        </h2>
      <div class="search-container">
        <form class="search-form">
          <input type="text" placeholder="Search..." class="input search-input" autocomplete="off" />
          <button class="button small" type="submit">Ask!</button>
          <div class="search-suggestions" style="display: none;"></div>
        </form>
      </div>
      <div class='header-right'>
        {% if user.is_authenticated %}
          {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class="img-small">
          {% else %}
            <img src="{% static 'img/default-avatar.jpg' %}" alt="Default" class="img-small">
          {% endif %}
        {% endif %}
          <div>
            <b>{{ user.username }}</b>
            <div class='header-subright-bottom'>
              <a href={% url 'settings'%}>Settings</a>
              <a href={% url 'logout' %}>Log out</a>
            </div>
        </div>
      </div>
    </header>

    <div class="page-layout">
      <main>{% block content %} {% endblock %}</main>

      <aside>
        {% load sidebar_tags %}
        {% popular_tags %}
        {% best_members %}
      </aside>
    </div>

    <footer>
      <b> @ 2025. Вкусно кушайте и высыпайтесь. </b>
    </footer>
    <script src="{% static 'js/search.js' %}"></script>
  </body>
</html>
