<!DOCTYPE html>

<html lang="ru">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %} {% endblock %}  </head>
  <body
    class="bg"
    style="
  background-image: url({% static "img/background.jpg" %});
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
    ">
    <!--HACK: заставить стиль фона рабоать из style.css, а не топорно вставить, как выше-->
    <header>
      <h2>
        <a href={% url 'index'%}>AskAero</a>
      </h2>
      <div>
        <form class="search-form">
          <input type="text" placeholder="Search..." class="input" />
          <button class="button small" type="submit">Ask!</button>
        </form>
      </div>
      <div class='header-right'>
        {% if user.is_authenticated %}
          {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class="img-small">
          {% else %}
            <img src="{% static 'img/default-avatar.jpg' %}" alt="Default" class="img-small">
          {% endif %}
        {% endif %}
          <div>
            <b>{{ user.username }}</b>
            <div class='header-subright-bottom'>
              <a href={% url 'settings'%}>Settings</a>
              <a href={% url 'logout' %}>Log out</a>
            </div>
        </div>
      </div>
    </header>

    <div class="page-layout">
      <main>{% block content %} {% endblock %}</main>

      <aside>
        <div class="tags">
          <h2>Popular tags</h2>
          <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
        <div class="best-members">
          <h2>Best members</h2>
          <ul>
            <li><a href="#">my lovely bf</a></li>
            <li><a href="#">me</a></li>
            <li><a href="#">our future cat</a></li>
          </ul>
        </div>
      </aside>
    </div>

    <footer>
      <b> @ 2025. Вкусно кушайте и высыпайтесь. </b>
    </footer>
  </body>
</html>
