{% extends "app/base.html" %}
{% load static %}

{% block extra_css %}
    <title>AskAero</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
<div class="head-of-section">
  <h1>{{ page_title }}</h1>

  {% if page_type != 'hot'%}
    <a href="/?filter=hot">Hot Questions</a>
  {% endif %}

  {% if page_type != 'new'%}
    <a href="/?filter=new">New Questions</a>
  {% endif %}

  <a href="{% url 'ask' %}" class="button small" style="margin-left: auto"> Ask a question! </a>
</div>


{% for question in questions %}
<article>
  <div class="left-subsection">
    <img class="img-small" src="{% static 'img/default-avatar.jpg' %}" />
    <div class="vote">
      <span class="count">{{ question.score }}</span>
      <div class="vote-buttons">
        <button class="upvote">&#9650;</button>
        <!-- ▲ -->
        <button class="downvote">&#9660;</button>
        <!-- ▼ -->
      </div>
    </div>
  </div>
  <div class="right-subsection">
    <div class="top-right-subsection">
      <a href={% url 'question' question.id %}>{{ question.title }}</a>
      <p>{{ question.text }}</p>
    </div>

    <div class="bottom-right-subsection">
      <a href="/question/{{question.id}}">answer({{question.score}})</a>
      <!--HACK: сделать стиль тегов здесь и в /tag/ таким же, как в /question/-->
        <p>Tags:</p>
            {% for tag in question.tags.all %}
            <a href="/?filter=tag&tag_name={{ tag.title }}">{{tag.title}}</a>
        {% endfor %}
    </div>
  </div>
</article>
{% endfor %}

{% if page.paginator.num_pages > 1 %}
<div class="pagination">
  {% for p in pages %}
    {% if p == "..." %}
      <span>...</span>
    {% elif p == page.number %}
      <span class="current">{{ p }}</span>
    {% else %}
      <a href="?{% if filter %}filter={{ filter }}{% if tag_name %}&tag_name={{ tag_name }}{% endif %}&{% endif %}page={{ p }}">
        {{ p }}
      </a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

{% endblock %}
