{% extends "app/base.html" %} {% load static %} {% block extra_css %}
<title>Войти — AskAero</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<h1>Log In</h1>
<div class="error-message">Sorry, wrong password!</div>
<form method="post" class="user-form">
  <!-- TODO: исправить выравнивание текста в кнопке-->

  {% if form.non_field_errors %}
        <div class="error-message">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}

  {% csrf_token %}
  <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
  {{ form.username }} {% if form.username.errors %}
  <div class="error-message">
    {% for error in form.username.errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}

  <label for="{{ form.password.id_for_label }}">Пароль</label>
  {{ form.password }} {% if form.password.errors %}
  <div class="error-message">
    {% for error in form.password.errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}

  <!-- <div class="user-form-actions"> -->
  <button type="submit" class="button medium">Войти</button>
  <!-- </div> -->
</form>

<a href="#" style="margin-left: 145px">Создать новый акккаунт</a>
{% endblock %}
