{% extends "app/base.html" %} {% load static %} {% block extra_css %}
<title>Регистрация — AskAero</title>
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %} {% block content %}
<div class="head-of-section">
  <h1>Registration</h1>
</div>
<form method="POST" class="signup-form" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <div class="error-message">
    {% for error in form.non_field_errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}

  <label for="{{ form.username.id_for_label }}">Login</label>

  <div>
  {{ form.username }} {% if form.username.errors %}
  <div class="error-message">
    {% for error in form.username.errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}
  </div>

  <label for="{{ form.email.id_for_label }}">Email</label>
  <div>
  {{ form.email }} {% if form.email.errors %}
  <div class="error-message">
    {% for error in form.email.errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}
  </div>

  <label for="{{ form.password.id_for_label }}">Password</label>
  <div>
  {{ form.password }} {% if form.password.errors %}
  <div class="error-message">
    {% for error in form.password.errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}
  </div>

  <label for="{{ form.password_repeat.id_for_label }}">Repeat password</label>
  <div>
  {{ form.password_repeat }} {% if form.password_repeat.errors %}
  <div class="error-message">
    {% for error in form.password_repeat.errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}
  </div>

  <label for="avatar" style="align-self: center">Upload avatar</label>
  <div class="signup-avatar-picker">
    {{ form.avatar }}
    {% if form.avatar.errors %}
      <div class="error-message">
        {% for error in form.avatar.errors %} {{ error }} {% endfor %}
      </div>
    {% endif %}
  </div>
  <button type="submit" class="button medium">Register!</button>
</form>
{% endblock %}
